{% extends 'base.html.twig' %}

{% block title %}New News{% endblock %}

{% block body %}
    <h1>Добавить новость</h1>

    {{ include('_form.html.twig', {form: newNewsForm}) }}

    <a href="{{ path('app_main') }}">back to list</a>
{% endblock %}
